<!DOCTYPE html>
<html>
  <head>
    <title>Docker Registry</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Docker Registry</h1>
    <ul>
    <% for (var i = 0; i < repositories.length; i++){ %>
    	<li><a href="/repository/<%=repositories[i]%>"><%= repositories[i] %></a></li>
    <%}%>
    </ul>
  </body>
</html>
