<!DOCTYPE html>
<html>
  <head>
    <title>Docker Registry</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div class="header">
		<h1><a href="/">Docker Registry</a></h1>
    </div>
    <div class="content">
	    <h2>Tags for <%= image.name%>:</h2>
	    <ul class="tags">
	    <% for (var i = 0; i < image.tags.length; i++){ %>
	    	<li class="tag">
				<%= image.tags[i] %>
	    	</li>
	    <%}%>
	    </ul>
    </div>
  </body>
</html>
